{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h2>Welcome to Tickets.</h2>
 
<a href="{{ url_for('createRoom') }}" class="btn btn-large">Create Game</a>
<a href="{{ url_for('joinRoom') }}" class="btn btn-large">Join Game</a>
<a href="{{ url_for('playAI') }}" class="btn btn-large">Play AI</a>

<br>
<br>

<h3>High Scores:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
    <tbody>
        {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>

 
{% endblock %}

