{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block bodystart %}
<body>
{% endblock %}

{% block main %}

<h2>Welcome to BlockTicket.</h2>

<h3>High Scores:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
    <tbody>
        {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}

